.login-comp {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #9157B5;
    color: #ffffff;
    width: 100%;
    min-height: 100vh;
  }
  
  .logo {
      font-size: 5em;
      text-align: center;
      
      -webkit-animation: fadein 8s; /* Safari, Chrome and Opera > 12.1 */
         -moz-animation: fadein 8s; /* Firefox < 16 */
          -ms-animation: fadein 8s; /* Internet Explorer */
           -o-animation: fadein 8s; /* Opera < 12.1 */
              animation: fadein 8s;
  }
  
  .line-anim {
      -moz-transform: scale(0.2);
     -webkit-transform: scale(0.2);
     -o-transform: scale(0.2);
     transform: scale(0.2);
      
      -webkit-transition: -moz-transform .3s ease-out; 
     -moz-transition: -webkit-transform .3s ease-out; 
     -o-transition: -o-transform .3s ease-out; 
      transition: transform .3s ease-out; 
  }
  
  .anim-complete {
      -moz-transform: scale(1.0);
     -webkit-transform: scale(1.0);
     -o-transform: scale(1.0);
     transform: scale(1.0);
  }
  
  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
         -moz-animation: fadein 4s; /* Firefox < 16 */
          -ms-animation: fadein 4s; /* Internet Explorer */
           -o-animation: fadein 4s; /* Opera < 12.1 */
              animation: fadein 4s;
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin .checkbox {
    font-weight: normal;
  }
  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  
  /* Firefox < 16 */
  @-moz-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  
  /* Internet Explorer */
  @-ms-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  
  /* Opera < 12.1 */
  @-o-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }