<div class="login-comp">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-4 col-md-offset-4">
        <div class="logo">SayHey!</div>
      </div>
    </div>

    <hr [ngClass]="lineClass">
    
    <div class="row">
      <div class="col-md-6">
        <form class="form-signin" id="formLogin">
          <h2 class="form-signin-heading">Entre com sua conta</h2>
          <label for="login_username" class="sr-only">Usuário</label>
          <input type="text" id="login_username" name="login_username" class="form-control" placeholder="Usuário" [(ngModel)]="login_user.username" required autofocus>
          
          <label for="login_password" class="sr-only">Senha</label>
          <input type="password" id="login_password" name="login_password" class="form-control" placeholder="Senha" [(ngModel)]="login_user.password" required>
          
          <button class="btn btn-lg btn-primary btn-block" style="background: #7BB557" type="submit" (click)="doLogin()">Entrar</button>
        </form>
      </div>

      <div class="col-md-6">
        <form class="form-signin" id="formRegister">
          <h2 class="form-signin-heading">Crie sua conta agora!</h2>
          <label for="register_email" class="sr-only">Email</label>
          <input type="text" id="register_email" name="register_email" class="form-control" placeholder="Endereço de email" [(ngModel)]="register_user.email" required>
          
          <label for="register_username" class="sr-only">Usuário</label>
          <input type="text" id="register_username" name="register_username" class="form-control" placeholder="Usuário" [(ngModel)]="register_user.username" required>
          
          <label for="register_password" class="sr-only">Senha</label>
          <input type="password" id="register_password" name="register_password" class="form-control" placeholder="Senha" [(ngModel)]="register_user.password" required>
          
          <button class="btn btn-lg btn-primary btn-block" style="background: #7BB557" type="submit" id="btnRegister">Registrar</button>
        </form>
      </div>
    </div>
    
  </div>
</div>