<div class="home-comp">
  <div class="topper"></div>
  <div class="container app">
    <div class="row app-one">
  
      <div class="col-sm-4 side">
        <div class="side-one">
          <!-- Heading -->
          <div class="row heading">
            <div class="col-sm-2 col-xs-2 heading-avatar">
              <div class="heading-avatar-icon">
                <img id="localuser_Avatar" src="http://chat.lbr-gang.com/images/default.png" alt="">
              </div>
            </div>
            <div class="col-sm-6 col-xs-6 local-username">
              <h3 id="localuser_Name">{{localUser.Username}}</h3>
            </div>
            <div class="col-sm-1 col-xs-1  heading-dot  pull-right">
              <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="#" (click)="doLogout($event)">Logout</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-2 col-xs-2 heading-compose  pull-right">
              <i class="fa fa-comments fa-2x  pull-right" aria-hidden="true"></i>
            </div>
          </div>
          <!-- Heading End -->
  
          <!-- SearchBox -->
          <div class="row searchBox">
            <div class="col-sm-12 searchBox-inner">
              <div class="form-group has-feedback">
                <input id="searchText" type="text" class="form-control" name="searchText" placeholder="Search">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
            </div>
          </div>
  
          <!-- Search Box End -->
          <!-- sideBar -->
          <div id="groupList" class="row sideBar">
            <div *ngFor="let gp of groups" class="row sideBar-body" (click)="showGroupChat(gp)">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <h2>{{gp.Name.toUpperCase().charAt(0)}}</h2>
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">{{gp.Name}}</span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    <span *ngIf="GetGroupUnreadMessages(gp).length > 0" class="badge pull-right" style="margin-left: 10px; background-color: #6C3390">{{GetGroupUnreadMessages(gp).length}}</span>
                    <span class="time-meta pull-right">{{GetLastMessageTime(gp)}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Sidebar End -->
        </div>
        <div class="side-two">
  
          <!-- Heading -->
          <div class="row newMessage-heading">
            <div class="row newMessage-main">
              <div class="col-sm-2 col-xs-2 newMessage-back">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
              </div>
              <div class="col-sm-10 col-xs-10 newMessage-title">
                New Chat
              </div>
            </div>
          </div>
          <!-- Heading End -->
  
          <!-- ComposeBox -->
          <div class="row composeBox">
            <div class="col-sm-12 composeBox-inner">
              <div class="form-group has-feedback">
                <input id="composeText" type="text" class="form-control" name="searchText" placeholder="Search People">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
            </div>
          </div>
          <!-- ComposeBox End -->
  
          <!-- sideBar -->
          <div class="row compose-sideBar">

            <div class="row sideBar-body">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <h2>W</h2>
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">WWW</span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    <span class="time-meta pull-right">10 members</span>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- Sidebar End -->
      </div>
  
  
      <!-- New Message Sidebar End -->
  
      <!-- Conversation Start -->
      <div *ngIf="currentGroup != undefined" class="col-sm-8 conversation">
        <!-- Heading -->
        <div class="row heading">
          <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar">
            <div class="heading-avatar-icon">
              <h2>{{currentGroup.Name.toUpperCase().charAt(0)}}</h2>
            </div>
          </div>
          <div class="col-sm-8 col-xs-7 heading-name">
            <div class="row">
              <a class="heading-name-meta" style="float: left;">{{currentGroup.Name}}</a>
              <span class="group-topic">;; {{currentGroup.Topic}}</span>
            </div>

            <span class="heading-online">
              {{GetGroupMembersNames()}}
            </span>
          </div>
          <div class="col-sm-1 col-xs-1 heading-dot pull-right">
            <div class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i></a>
              <ul class="dropdown-menu">
                <li><a href="#" (click)="leaveGroup($event)">Leave group</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Heading End -->
  
        <!-- Message Box -->
        <div #chatBox class="row message" id="conversation">
  
          <div *ngFor="let msg of currentGroup.Messages" class="row message-body" style="margin-bottom: 5px !important;">
            <div class="col-sm-12 {{msg.User.ID == localUser.ID ? 'message-main-sender' : 'message-main-receiver'}}">
              <div class="{{msg.User.ID == localUser.ID ? 'sender' : 'receiver'}}">
                <div *ngIf="msg.UserID != localUser.ID && (GetGroupNextMessage(msg, currentGroup) == undefined || GetGroupNextMessage(msg, currentGroup).User.ID != msg.User.ID)" class="message-user" [ngStyle]="userColor(msg.User)">
                  {{msg.User.Username}}
                </div>
                <div class="message-text">
                 {{msg.Text}}
                </div>
                <span class="message-time pull-right">
                  {{msg.Date | date: 'HH:mm'}}
                </span>
              </div>
            </div>
          </div>

        </div>
        <!-- Message Box End -->
  
        <!-- Reply Box -->
        <div class="row reply">
          <div class="col-sm-1 col-xs-1 reply-emojis">
            <i class="fa fa-smile-o fa-2x"></i>
          </div>
          <div class="col-sm-9 col-xs-9 reply-main">
            <textarea class="form-control" rows="1" [(ngModel)]="replyMessage" (keypress)="replyBox($event)"></textarea>
          </div>
          <div class="col-sm-1 col-xs-1 reply-recording">
            <i class="fa fa-microphone fa-2x" aria-hidden="true"></i>
          </div>
          <div class="col-sm-1 col-xs-1 reply-send">
            <i class="fa fa-send fa-2x" aria-hidden="true"></i>
          </div>
        </div>
        <!-- Reply Box End -->
      </div>
      <!-- Conversation End -->
    </div>
    <!-- App One End -->
  </div>
  <!-- App End -->
</div>